<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-2 col-sm-0"></div>
    <div class="col-lg-6 col-md-8 col-sm-12 log-form">
      <h2 style="text-align: center">Вход</h2>
      <form (submit)="loginUser($event)">
        <div class="ulog-form">
          <div class="container">
            <div class="row">
              <div class="col">
                <label>Имя пользователя:</label>
              </div>
              <div class="col">
                <input type="text" required placeholder="Имя пользователя">
              </div>
              <div class="w-100"></div>
              <div class="col">
                <label>Пароль:</label>
              </div>
              <div class="col">
                <input type="password" required placeholder="Пароль">
              </div>
              <div class="w-100"></div>
                <div *ngIf="logStatus.message == null; else msg"></div>
                <ng-template #msg>
                  <div class="col" style="margin-top: 10px; text-align: center" [hidden]="logStatus.success">
                    <label class="alert alert-danger">{{logStatus.message}}</label>
                  </div>
                </ng-template>
            </div>
            <div class="row">
              <div class="col" style="align-content: center; text-align: center; margin-top: 10px;">
                <input type="submit" value="Войти">
              </div>
              <div class="w-100"></div>
              <div class="col">
                <a routerLink="/register">Регистрация</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="  col-lg-3 col-md-2 col-sm-0"></div>
  </div>
</div>
