<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-2 col-sm-0"></div>
    <div class="col-lg-6 col-md-8 col-sm-12 reg-form">
      <h2 style="text-align: center">Регистрация</h2>
      <form name="register" #registerform="ngForm" [formGroup]="registerForm" (submit)="onSubmit()">
        <div class="ureg-form">
          <div class="container">
            <div class="row">
              <div class="col">
                <label>Имя пользователя:</label>
              </div>
              <div class="col">
                <input type="text" formControlName="login" required placeholder="Имя пользователя">
              </div>
              <div class="w-100"></div>
              <div class="col">
                <label>Пароль:</label>
              </div>
              <div class="col">
                <input type="password" formControlName="password" required placeholder="Пароль">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input [disabled]="registerform.invalid" class="reg-btn" type="submit" value="Зарегистрироваться">
              </div>
              <div class="w-100"></div>
              <div class="col">
                <a routerLink="/">На главную страницу</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="  col-lg-3 col-md-2 col-sm-0"></div>
  </div>
</div>
