canvas{
  cursor:pointer;
  min-height: 375px;
  border:2px solid black;
  margin: 20px;
}

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

button{
  margin-left: 20px;
  margin-right: 20px;
  padding: 8px 20px;
  transition: 0.5s linear;
  text-align: center;
  border: black;
  border-radius: 10px;
  background: rgba(165, 172, 175, 0.2);
  box-shadow: 0 2px 1px #2D2020;
  color: black;
  text-decoration: none;
  font-size: 18px;
  text-shadow: 0 1px 1px #2D2020;
  line-height: 25px;
}

button:hover{
  background-color: rgba(5, 230, 80, 1);
  color: white;
  transition: .5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

table {
  margin: 10px auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  box-shadow: 0 2px 2px #2D2020;
}

#auto-complete{
  width: 2000px;
}

th {
  width: 110px;
  background: #BCEBDD;
  color: white;
  text-shadow: 0 1px 1px #2D2020;
  text-align: center;
  padding: 10px 20px;
}

th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

th:first-child, td:first-child {
  text-align: center;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}

td {
  padding: 10px 20px;
  background: #F8E391;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

tr td:last-child {
  border-right: none;
}

#table{
  margin: auto;
}



